{% load thumbnail %}
  <article>
    <ul>      
      <li>
        Автор: 
        <a href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a>          
      </li>
      <li>
        Дата публикации: {{ post.created|date:"d E Y" }}    
      </li>
    </ul>
    {% thumbnail post.image "800x400" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}   
    <p>{{ post.text|linebreaksbr }}</p>
    <a class="btn btn-outline-info" href="{% url 'posts:post_detail' post.id %}">
      читать пост
    </a>
    {% if post.group %}            
      <a class="btn btn-outline-info" href="{% url 'posts:group_list' post.group.slug %}">
        все записи группы
      </a>
    {% endif %}    
  </article>
  